

$color-primary-light: #fff;
$color-secondary-light:#f7f9fa;
$color-primary-dark: #000;
$color-secondary-dark:#1f1f1f;
$color-tertiary-dark:#3b434b;
$color-grey-3: #fafafa;
$color-green-1: #1ebf90;
$color-grey-1: #bbb;
$color-grey-2: #e0e0e0;
$color-blue-1:#007efc;
$color-blue-fb:#3b5998;
$color-blue-twitter:#1da1f2;
$color-blue-navy: #233567;
$color-yellow-1: #fec600;
$color-red-pin:#BD081C;