.card { 
  box-shadow: none;
  border: none;
  &-text {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &-price {
      font-size: 1.3rem;
    }
    &-sold-out {     
      font-size: 1.5rem;
      color: $color-grey-1;
    }
    &-sale {
      font-size: 1.3rem;
      text-decoration: line-through;
      color: $color-grey-2;
    }
  }
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-primary-dark;
  }
  &-body {    
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    height: fit-content;
    padding: 1.75rem;
    @include respond(tab-port){
      height: 10rem;
    }
  }
  &__product {
    &-content{
      position: relative;
    }
    &-content:hover &-quickview{
      opacity: 1;
      bottom: 0;
    }
    &-quickview {
      transition: all .3s;
      text-align: center;
      letter-spacing: 3px;
      padding: 2rem 2rem;
      font-size: 1.2rem;
      font-weight: 100;
      text-transform: uppercase;
      z-index: 15;
      width: 100%;
      left: 0;
      bottom: -3rem;
      position: absolute;
      opacity: 0;
      display: block;
      background-color: rgba($color-primary-light, 0.7);
    }
    height: auto;
    border-radius: 0;
    box-shadow: none;
    &-img {
      overflow: hidden;
      object-fit: cover;
      height: 50rem;
      width: 100%;
      @include respond(tab-port){
        object-fit: cover;
        height: 75vh;
      }      
      transition: opacity 0.5s;
      &--sm{   
        object-fit: cover;     
        height: 30rem;
        width: 30rem;
        overflow: hidden;
        transition: opacity 0.5s;
      }
      &--front {
        &:hover {                  
          opacity: 0;
        }
      }
      &--back {      
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }      
    }
  }
  &__hightlight{
    padding: 10rem 0rem;
  }
}
