.color__select{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
    transition: transform .3s;
    &:hover{
        border: 1px solid $color-grey-1;
        transform: scale(.9);        
    }
    &-navy{
        background-color: $color-blue-navy;
    }
    &-black{
        background-color: $color-primary-dark;
    }
    &-grey{
        background-color: $color-grey-1;
    }
}