.quantity{
    &__button{
        padding: .15rem 1.25rem;
        border: 1px solid $color-grey-2;
        font-size: 2rem;
        font-weight: 400;
        background-color: transparent;
    }
}
.minus{
    border-right: none;
}
.plus{
    border-left: none;
}
.input-text{
    width: 4rem;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    border: none;
    border-top: 1px solid $color-grey-2;
    border-bottom: 1px solid $color-grey-2;
    height: auto !important;
}