html{
    font-size: 62.5%;
    @include respond(phone){
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 62%;
    }
}
body{
    a{
        &:hover{
            text-decoration: none;
            cursor: pointer;
        }
    }
    margin: 0 0 !important;
    color: black;
    height: auto;
    &::-webkit-scrollbar-button{
        display: none;
    }
    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $color-primary-dark;     
    }
    &::-webkit-scrollbar-track{
        background-color: $color-grey-1;
    }
}