.modal{
    &-dialog{
        max-width: 80vw;
        margin: auto auto;
        height: 100vh;        
    }   
    &-content{
        top: 50%;
        left: 50%;    
        transform: translate(-50%,-50%);
        height: 95%;
        width: 70vw;
        overflow: scroll;
        padding: 4rem 3rem;
        &::-webkit-scrollbar{
            display: none;
        }
        &--instaView{
            height: auto;
            width: 40rem;
            padding: 0 0;
        }
    }
}